---
default:
  suites:
    auth:
      paths:
        - '%paths.base%/doc/features/auth/'
      contexts:
        - Test\Acceptance\Context\Login
        - Test\Acceptance\Context\Registration
    stations:
      paths:
        - '%paths.base%/doc/features/stations/'
      contexts:
        - Test\Acceptance\Context\Stations
        - Test\Acceptance\Context\Station
    channels:
      paths:
        - '%paths.base%/doc/features/channels/'
      contexts:
        - Test\Acceptance\Context\Channel
    messages:
      paths:
        - '%paths.base%/doc/features/messages/'
      contexts:
        - Test\Acceptance\Context\Message
    forums:
      paths:
        - '%paths.base%/doc/features/forums/'
      contexts:
        - Test\Acceptance\Context\Forum

  extensions:
    FriendsOfBehat\SymfonyExtension:
      kernel:
        environment: test
        class: Infra\Symfony\Kernel
