---
default:
  suites:
    auth:
      paths:
        - '%paths.base%/doc/features/auth/'
      contexts:
        - Test\Acceptance\Context\LoginContext
        - Test\Acceptance\Context\RegistrationContext

    stations:
      paths:
        - '%paths.base%/doc/features/stations/'
      contexts:
        - Test\Acceptance\Context\StationContext

  extensions:
    FriendsOfBehat\SymfonyExtension:
      kernel:
        environment: test
        class: Infra\Framework\Kernel
