parameters:
  level: 8

  paths:
    - src/

  ignoreErrors:
    - '#Call to an undefined method Assert\\LazyAssertion::identifier#'
    - '#Call to an undefined method Assert\\AssertionChain<string>::identifier#'

includes:
	- vendor/phpstan/phpstan-beberlei-assert/extension.neon
