parameters:
  level: max

  paths:
    - src/

  ignoreErrors:
    - '#Call to an undefined method Faker\\Generator::(.*)#'
    - '#Call to an undefined method Assert\\LazyAssertion::identifier#'
    - '#Call to an undefined method Assert\\AssertionChain<string>::identifier#'
